@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* custom variables */
:root {
	/* colors */
	--very-dark-blue: #2e323f;
	--dark-blue: #3b4050;
	--gray: #6f737f;
	--light-gray: #ecebe7;
	--white: #ffffff;
	--dark-gold: #a59678;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: 'Oswald', sans-serif;
}

img {
	max-width: 100%;
}

h1,
h2 {
	margin-top: 0;
	line-height: 1.6;
}

section {
	padding: 4em 0;
}

.container {
	margin: 0 auto;
	width: 85%;
	max-width: 1200px;
}

/* nav */

.burger {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.8em 1em;
	cursor: pointer;
}

.nav {
	padding: 1em 0;
	width: 100%;
	background-color: var(--very-dark-blue);
}

.nav .row {
	display: flex;
}

.nav__logo {
	margin: 0 auto;
}

.nav__list {
	position: absolute;
	opacity: 0;
	list-style: none;
	gap: 1em;
}

.nav__link {
	font-size: 1.8rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--light-gray);
}

.nav__item--button {
	padding: 0.5em 1.5em;
	background-color: var(--dark-gold);
	border-radius: 30px;
}

/* header */

.header {
	background-color: var(--dark-blue);
}

.header__title {
	font-size: 5rem;
	line-height: 1.2;
	color: var(--white);
}

.header__title span {
	color: var(--dark-gold);
}

.header__text {
	margin-top: 2em;
	font-size: 1.8rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: var(--light-gray);
}

.header__button {
	margin-top: 2em;
	padding: 0.5em 1.5em;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	border-radius: 30px;
	color: var(--white);
	background-color: var(--dark-gold);
}

/* section - info */

.info {
	background-color: var(--light-gray);
}

.info__item {
	text-align: center;
}

.info__title {
	font-size: 2.6rem;
	color: var(--dark-gold);
}

.info__text {
	margin-top: 0.75em;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
}

.info__item + .info__item {
	margin-top: 3em;
}

/* section - description */

.description__title {
	font-size: 3rem;
	color: var(--dark-gold);
}

.description__text {
	margin-top: 1em;
	font-size: 1.8rem;
	font-family: 'Montserrat', sans-serif;
}

.description__image {
	margin: 2em 0;
}

.element {
	margin-top: 2em;
	padding: 2em 3em;
	width: 100%;
	text-align: center;
	color: var(--white);
	background-color: var(--very-dark-blue);
}

.element__title {
	font-size: 2.6rem;
}

.element__text {
	margin-top: 1em;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
}

/* footer */

.footer {
	text-align: center;
	background-color: var(--dark-blue);
}

.footer__title {
	font-size: 2.8rem;
	color: var(--white);
}

.footer-info__title {
	margin-top: 2em;
	font-size: 1.8rem;
	color: var(--dark-gold);
}

.footer-info__text,
.footer-info__list-link {
	margin-top: 1em;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: var(--light-gray);
}

.footer-info__list {
	list-style: none;
}

.footer-info__list-item {
	margin-top: 1em;
}

/* breakpoints */

@media (width > 700px) {
	.row {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.col {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	/* nav */

	.burger {
		display: none;
	}

	.nav__logo {
		margin-left: 0;
	}

	.nav__list {
		position: relative;
		opacity: 1;
	}

	/* header */

	.header .row {
		align-items: flex-end;
		gap: 3em;
	}

	.header .col {
		align-items: flex-start;
	}

	.header__title {
		font-size: 6.5rem;
		line-height: 1.1;
	}

	/* section - info */

	.info .row {
		gap: 3em;
		align-items: flex-start;
	}

	.info__item + .info__item {
		margin-top: 0;
	}

	/* section - description */

	.description .row {
		margin-top: 2em;
		align-items: flex-start;
		gap: 0.75em;
	}

	/* footer */

	.footer .row {
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		gap: 3em;
	}
}

@media (width > 1000px) {
	/* header */

	.header {
		padding: 8em 0;
	}

	.header__title {
		font-size: 9rem;
	}

	.header__text,
	.header__button {
		font-size: 2.4rem;
	}

	/* section - info */

	.info {
		padding: 5em 0;
	}

	.info .row {
		gap: 5em;
	}

	.info__title {
		font-size: 3rem;
	}

	.info__text {
		font-size: 1.8rem;
	}

	/* section - description */

	.description__title {
		font-size: 3.6rem;
	}

	.description__text {
		font-size: 2.1rem;
	}

	.element__title {
		font-size: 3rem;
	}

	.element__text {
		font-size: 1.8rem;
	}

	/* footer */

	.footer__title {
		font-size: 6rem;
	}

	.footer-info__title {
		font-size: 2.4rem;
	}

	.about {
		flex-grow: 3;
		flex-shrink: 1;
	}

	.footer .col {
		flex-grow: 2;
		flex-shrink: 0;
	}

	.footer .row {
		justify-content: space-between;
		flex-wrap: nowrap;
		gap: 5em;
	}

	.footer .col,
	.footer .about {
		text-align: left;
		align-items: flex-start;
	}
}
